*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
	display: flex;  
	justify-content: center;
	align-items: center;
	background: whitesmoke;
  
}


main{
    height: 60vh;
    width: 50%;
    background: white;
    
    
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-top: -30px;
    
}


    



