body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(81, 81, 206), rgb(209, 73, 209) );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form { background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 350px;
    font-style: oblique;
}

    input {
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    

}

.login
{
    background-color: rgb(184, 197, 184);
    color: black;
    text-align: center;
    
}

a {
color: rgb(81, 81, 206en);
text-decoration: none;
}